@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap");

html {
    font-size: 16px;
}

body {
    background-color: #0a192f;
    margin: 0;
}

.logo {
    color: seashell    ;
    padding-left: 1rem
}

/* #logo {
    width: 500px;
    height: 150px;
} */

header {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(10, 25, 47, 0.85);
}

nav li {
    padding: 0px 1rem;
    font-size: 1.25rem;
    display: inline;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:visited {
    color: rgb(204, 214, 246);
}

main {
    display: flex;
    justify-content: center;
}

.introduction {
    margin-top: 10rem;
    border: 1px solid red;
}

.greeting {
    color: rgb(100, 255, 218);
    font-size: 1.2rem;
    margin: 0 0;
    font-family: "Red Hat Mono";
    /* font-weight: 300; */
}

.introduction-name {
    color: rgb(204, 214, 246);
    font-size: 5rem;
    margin: 0 0;
}

.introduction-title {
    color: rgb(136, 146, 176);
    font-size: 5rem;
    margin: 0 0;
}

.quick-summary {
    color: rgb(136, 146, 176);
    font-size: 1.25rem;    
    margin: 0 0;
    line-height: 25px;
}

/* .salutation,
.name,
.title,
.quick-summary {
    border: 1px solid yellow;
    box-sizing: border-box;
} */








