/* Imports the fonts Red Hat Mono and Oxygen */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(5, 25, 47);
    margin: 0;
}

.logo {
    color: seashell    ;
    padding-left: 1rem;
    font-family: "Oxygen";
    font-weight: 700;
}

/* #logo {
    width: 500px;
    height: 150px;
} */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(10, 25, 47, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.main-links li {
    padding: 0px 1rem;
    font-size: 1rem;
    display: inline;
    font-family: "Red Hat Mono";
}

.main-links a {
    text-decoration: none;
    color: white;
}

.main-links a:hover {
    color:rgb(204, 214, 246);
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20rem;
}

.greeting {
    color: rgb(100, 255, 218);
    font-size: 1rem;
    margin: 0 0 0 .3rem;
    font-family: "Red Hat Mono";
    font-weight: 300;
}

.introduction-name {
    color: rgb(204, 214, 246);
    font-size: 5rem;
    margin: 0 0;
    font-family: "Oxygen";
    font-weight: 700;
}

.introduction-title {
    color: rgb(136, 146, 176);
    font-size: 5rem;
    margin: 0 0;
    font-family: "Oxygen";
    font-weight: 400;
}

.quick-summary {
    color: rgb(136, 146, 176);
    font-size: 1.25rem;    
    margin: 0 0 0 .3rem;
    line-height: 25px;
    font-family: "Oxygen";
    font-weight: 300;
}

.resume {
    margin: 1rem 0 0 .3rem;
    width: 15rem;
    height: 3.5rem;
    border-color: rgb(100, 255, 218);
    background-color: transparent;
    color: rgb(100, 255, 218);
    cursor: pointer;
    border-radius: 0.5rem;
}

.resume:hover {
    background-color: rgba(100, 255, 218, 0.1);
}

.resume-link {
    text-decoration: none;
    font-family: "Red Hat Mono";
    font-weight: 600;
    font-size: 1rem;
    color: rgb(100, 255, 218);
}

.resume-link:visited {
    color: rgb(100, 255, 218);
}

.about-me-heading {
    color: rgb(100, 255, 218);
    font-size: 2rem;
    font-family: "Red Hat Mono";
    font-weight: 600;
    margin-bottom: 0;
}

hr {
    border-color: rgba(255, 255, 255, .1);
    background-color: rgba(255, 255, 255, .1);
}

.about-me-section {
    margin-top: 30rem;
    display: flex;
}

#about-me {
    width: 30rem;
}

.info-about-me,
.info-continued,
.info-continued-2 {
    color: rgb(136, 146, 176);
    font-size: 1.1rem;
    font-family: "Oxygen";
    font-weight: 400;
    line-height: 1.5rem;
}

.info-continued {
    margin-top: 0;
}

.info-continued-2 {
    margin-top: 0;
}

.about-me-info span {
    color:rgb(100, 255, 218)
}

.brandon-chan {
    height: 20rem;
    width: 17rem;
    float: right;
    margin: 5rem 3rem 1rem 3rem;
    border-radius: 0.5rem;
    padding: 5px;
    border: 1px solid rgb(100, 255, 218);
}

.technologies {
    margin-top: 28rem;
    margin-left: 0.5rem;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.skills-list li {
    list-style-type: none;
    color: rgb(136, 146, 176);
    margin-top: 1rem;
}

.skills-list li::before {
    content: "►";
    margin-right: 0.5rem;
}

footer {
    border-top: 1px solid rgba(255, 255, 255, .1);
    display: flex;
    justify-content: center; 
    margin-top: 20rem;
}

footer h1 {
    color: seashell;
}


